#include <zephyr/dt-bindings/gpio/nordic-nrf-gpio.h>
/ {
	model = "Seeed XIAO BLE Sense";
	compatible = "seeed,xiao-ble", "seeed,xiao-ble-sense";

	lsm6ds3tr-c-en {
		compatible = "regulator-fixed-sync", "regulator-fixed";
		enable-gpios = <&gpio1 8 (NRF_GPIO_DRIVE_S0H1 | GPIO_ACTIVE_HIGH)>;
		regulator-name = "LSM6DS3TR_C_EN";
		regulator-boot-on;
		startup-delay-us = <3000>;
	};
};